
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<a asp-area="User" asp-controller="Customer" asp-action="AlltableListele"  class="btn btn-outline-dark">Alltable Listele</a>
<td><a asp-area="User" asp-controller="Customer" asp-action="List"  class="btn btn-danger">Paket Listesi</a></td>
<h1>Kullanıcı Giriş Sayfası</h1>

