@model Customer
@{
    ViewData["Title"] = "AddCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Müşteri Kayıt Ekranı</h1>
@if (ViewBag.CustomerError != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.CustomerError
    </div>
}
<form asp-controller="Customer" asp-action="AddCustomer" method="post">
    <input type="text" name="Name" placeholder="Müşteri Adı Girin" /><br />
    <input type="text" name="Surname" placeholder="Müşteri Soyadı Girin" /><br />
    <input type="text" name="Tc" placeholder="Tc Giriniz" /><br />
    <input type="submit" class="btn btn-success" value="Kaydet" />
</form>

